name: Build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y nasm
      - name: Build
        run: make
      - name: Create alternate layouts
        run: cp ipl_aswan.bin bw.rom ; cp ipl_sphinx.bin color.rom ; cp ipl_aswan.bin boot.rom ; cp ipl_sphinx.bin boot1.rom ; cp ipl_aswan.bin bootrom.ws ; cp ipl_sphinx.bin bootrom.wsc ; cp ipl_sphinx2.bin bootrom_sc.wsc
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: metis-ipl
          path: |
            ipl_aswan.bin
            ipl_sphinx.bin
            ipl_sphinx2.bin
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: metis-ipl (Mesen2)
          path: |
            bootrom.ws
            bootrom.wsc
            bootrom_sc.wsc
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: metis-ipl (openFPGA)
          path: |
            bw.rom
            color.rom
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: metis-ipl (MiSTer)
          path: |
            boot.rom
            boot1.rom
